bin/Debug/net6.0/ED_Deber02 - Ordenamientos.deps.json
bin/Debug/net6.0/ED_Deber02 - Ordenamientos.dll
bin/Debug/net6.0/ED_Deber02 - Ordenamientos.exe
bin/Debug/net6.0/ED_Deber02 - Ordenamientos.pdb
bin/Debug/net6.0/ED_Deber02 - Ordenamientos.runtimeconfig.json
obj/ED_Deber02 - Ordenamientos.csproj.nuget.dgspec.json
obj/ED_Deber02 - Ordenamientos.csproj.nuget.g.props
obj/ED_Deber02 - Ordenamientos.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.AssemblyInfo.cs
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.AssemblyInfoInputs.cache
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.assets.cache
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.csproj.AssemblyReference.cache
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.dll
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.genruntimeconfig.cache
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.GlobalUsings.g.cs
obj/Debug/net6.0/ED_Deber02 - Ordenamientos.pdb
obj/Debug/net6.0/ref/ED_Deber02 - Ordenamientos.dll
obj/Debug/net6.0/refint/ED_Deber02 - Ordenamientos.dll
Program.cs
